<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback</title>
</head>
<body>
    <section class="feedback-section" style="background-color:lightsteelblue;">
        <h2>How satisfied are you<br>with our services?</h2>
        <div class="rating">
            <div class="child unhappy">
                <p>🙁</p>
                <h3>unhappy</h3>

            </div>
            <div class="child happy">
                <p>😄</p>
                <h3>happy</h3>

            </div>
            <div class="child satisfied">
                <p>🙂</p>
                <h3>satisfied</h3>
            </div>
</div>   
<div class="feedback-btn" >
    <button id="btn" type="submit" (click)="showAlert()" >Send Review</button>
</div>  
<p id="userFeedback"></p>
    </section>
    
        
    
</body>
</html>
