<header>
    <div class="main" >
        <div class="wrapper">
    <div class="header" >   
       <a href="#" class="logo">Food Mine!</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/login">login</a>
                    <a href="#" routerLink="/products">foodmenu</a>
                    <a href="#" routerLink="/payment">payment</a>
                    <a href="#" routerLink="/cart">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
     </div>
</header>
<!--<header>
    <div class="navbar navbar-dark bg-primary">
    <strong style="font-size:30px">LaptopStore</strong>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="search laptops">
    </div>
    <span class="fa fa-search search-icon"></span>
    
    <div class="badge bg-secondary" routerLink="/login">login</div>
    <div class="badge bg-secondary" routerLink="/products">products</div>
    <div class="badge bg-secondary" routerLink="/payment">payment</div>

    <div class="badge bg-secondary" routerLink="/faq">FAQ</div>
    
    <button type="button" class="btn btn-secondary" routerLink="/cart">
        <i style="font-size: 20px;" class="fas fa-cart-plus" ></i>
        <div style="font-size:10px;" class="badge bg-danger">0</div>

    </button>
    </div>
    </header>-->