
<app-header></app-header>
<router-outlet></router-outlet>


<!-- <html>
  <head>
    
  </head>
  <body>
  <form>

 <div class="container">

<img src="assets/anna.jpg" width="40">

<h2>registeration </h2>
<p>please fill the form</p>
<label>name <sup> *</sup></label><pre></pre>
<input type="text" name ="name" required><pre></pre>

<label>password <sup> *</sup></label><pre></pre>
<input type="password" name ="password" required><pre></pre>

<button type="submit" class="sub">submit</button>

</div>
 


<a href="">about</a><br>
<a href="">contact</a><br>
<a href="">mail</a><br>
<a href ="">main</a>
  

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores suscipit quam ipsam sint est asperiores quae, mollitia odio quibusdam non!</p>

<p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero magni iure alias tempora commodi voluptatem voluptatibus nulla. Veniam, assumenda ex? Consequatur excepturi ipsam perspiciatis quos. Ducimus, dicta aut. Recusandae perspiciatis unde, itaque soluta architecto eum magni quisquam ut assumenda saepe!</p>

</form>
</body>
</html> -->