<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="header">
       <img src="assets/welcome.jpeg" width="1600" height="650">
       <div class="overlay-text">
        <h1>Welcome to Food Mine Cafe!!</h1>
      <p>Order delicious food from your favorite restaurants and have it delivered to your doorstep.</p>
       </div>
  </div>
  <div class="container">
       <a href="/login" class="btn">Get Started</a>
 </div>
 </body>
</html> 
  
  
  
  
  
  
  <!--<div clss="main">
    <div class="wrapper">
  
    <div class="container">
      <h1>Welcome to Food Mine Cafe!</h1>
      <p>Order delicious food from your favorite restaurants and have it delivered to your doorstep.</p>
      <a href="#" class="btn" routerLink="/login">Get Started</a>
    </div>
  </div>
  </div>-->
  
